<!-- <h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p> -->

<h1>Edit your User</h1>



<%= render 'form', user: @user %>
<hr>
<%= form_for @user, method: :delete do |f| %>
  <%= f.submit "Delete user" %><br/>
<% end %>
<hr>
<%= link_to 'My Profile', @user %>
<%= link_to 'Back', users_path %>
