<!-- <h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p> -->


<!--  we need buttom to create post, button to edit , -->



<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<hr>
<h2>Organizations Connected to Me:</h2>
<% @user.organizations.each do |organization| %>
  <% organization.connections.each do |connection| %>
    <% if connection.user == @user %>
      <%= link_to connection.organization.name, organization_path(connection.organization) %>
  <br>
    <% end %>
  <% end %>
<% end %>
