<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <br>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <hr>

  <div class="field">
    <%= form.label :content %>
    <br>
    <%= form.text_area :content, id: :post_content, size: "60x12" %>
  </div>

  <% if current_organizations %>
    <div class="field">
      <%= form.collection_select(:organization_id, current_organizations, :id, :name, {include_blank: true}) %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
