<% if @post.organization %>
  <p>
    <strong>Organization:</strong>
    <%= @post.organization.name %>
  </p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@post.user_id).to_s %>
</p>
<% if @verified %>
  <%= link_to 'Edit Post', edit_post_path(@post) %>
  <hr>
  <%= form_for @post, method: :delete do |f| %>
    <%= f.submit "Delete post" %><br/>
  <% end %>
<% end %>
<hr>
<h3>Comments:</h3>
<hr>
  <% @post.comments.each do |comment|%>
    <%= comment.content %>
    <br>
    Written by: <%= User.find(comment.user_id).to_s %>
    <br>
    <% if comment.user == current_user %>
      <%= link_to 'Edit Comment', edit_comment_path(comment) %>
      <hr>
      <%= form_for comment, method: :delete do |f| %>
        <%= f.submit "Delete comment" %><br/>
      <% end %>
    <% end %>
    <hr>
  <% end %>

<% if current_user %>
  <%= form_for(Comment.new) do |f| %>
    <%= f.hidden_field :post_id, :value => @post.id %>
    <%= f.text_area :content, size: "60x12" %>
    <%= f.submit "Create Comment" %>
  <% end %>
<% end %>
