<!DOCTYPE html>

<html>
  <head>
    <title>Puerto Rico Support Web</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <code>

  <style>
  body {
    background-color: #E6E6FA
  }
  </style>

    <%= render partial: "shared/navbar" %>
    <div id="user_header">

    <% if current_user %>
    <font size="4" face="verdana" color="black">Logged in as <%= current_user.to_s %></font>
    <%= link_to "Log Out", logout_path %>
    <% else %>
    <%= link_to "Sign Up", user_signup_path %> or
    <%= link_to "Log In", login_path %>
    <% end %>
    </div>
    <% flash.each do |key, value| %>
    <%= content_tag(:div, class: "alert alert-#{key}") do %>
    <p><%= value %></p>
    <% end %>
    <% end %>

    <%= yield %>
</code>
  </body>

  <footer>
<code>
    <hr>
    <%= link_to 'Home', root_path %> |
    <%= link_to 'All Users', users_path %> |
    <%= link_to 'All Organizations', organizations_path %> |
    <%= link_to 'All Posts', posts_path %>
    <% if current_user %>
    |  <%= link_to 'Create Post', new_post_path %>
    |  <%= link_to 'Create Organization', new_organization_path %>
    |  <%= link_to 'Edit My Profile', edit_user_path(current_user) %>
    <% end %>
</code>
  </footer>
</html>
